* {
    /*margin: 0 auto;*/
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 2.5rem;
    font-weight: 700;
    align-items: centers;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    margin-left: 30px;

}

header li a {
    text-decoration: none;
}

.section-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--Dark-01, #131313);
    text-align: center;
}

.banner-description {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.btn-primary {
    width: 170px;
    height: 58px;
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.25ems;
    font-weight: 600;

}

.banner img {
    margin-top: 40px;
    width: 100%;
}

/*main styles*/
main {
    max-width: 1400px;
    margin: 70px auto;
}

.team {
    display: flex;
    align-items: center;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    margin-left: 70px;
    margin-right: 70px;
}

.quick {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 500;
}

.our {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
}

.span-feature {
    color: #FF900E;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
}

.team-title {
    padding: 0px 66px 24px 3px;
}

.color-light-gray {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    max-width: 500px;
}
.card{
    border-radius: 8px;
border: 1px solid #FF900E;
padding: 30px;
}
.card-conteinar{
    display: flex;
    justify-content: space-around;
    text-align: center;

}

/*media responsive style for mobile devices*/
@media screen and (max-width: 576px) {
    header {
        padding: 30px;
    }

    nav,
    .team {
        flex-direction: column;
    }
    .team-images{
        grid-template-columns: 1fr;
}
.team-content {
    margin-left: 20px;
    margin-right: 20px;
}
}

/*for tablet or medium devises*/
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }
   nav, .team{
        flex-direction: column;
    }
}